.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffff99;
}

/* label.error,
span.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error,
textarea.error,
input.fail {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

input.valid,
textarea.valid {
    border: 1px solid green;
    font-weight: 300;
    color: green;
} */

/* ADD */

span.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

span.success {
    color: green;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.valid {
    border-color: green;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url( "../Image/check-regular-24.png   " );
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.valid:focus {
    border-color: green!important;
}

input.invalid {
    border-color: red;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url( "../Image/error-circle-regular-24.png" );
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
input.invalid:focus {
    border-color: red!important;
}
