
.fit {
    white-space: nowrap;
    width: 1%;
}

.card-header{
    background-color: transparent !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif !important;
}

h1{
    font-size: 26px !important;
    font-weight: bold !important;
}