.card-header {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.fit {
    white-space: nowrap;
    width: 1%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffff99;
}